<h1>Listings</h1>
<p>Search below for listings!</p>


<div class="container">
<%= form_for @listing, html: { multipart: true } do |f| %>
Photo: <%= f.file_field :photo %><br>
Title: <input type="text" class="form-control" placeholder="Title"><br>
Body: <textarea class="form-control" rows="3"><%= f.text_area :body %></textarea><br>
  <%= f.submit 'Create Listing', class: 'btn btn-success' %>
<% end %>
</div>
