<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>


<%= image_tag @listing.photo.url %>
<hr>
<%= @listing.title %>
<%= @listing.body %>
<hr>
<div class="form-group">
    <div class="col-md-8 col-md-offset-4">
        <%= link_to "Back to Listing Page", listing_path, class: 'btn btn-primary' %>
    </div>
</div>
