<h1>Your listing has been created</h1>
<p>We're sure you'll have success finding a tenant</p>


<%= image_tag @listing.photo.url %>
<hr>
<%= @listing.title %>
<%= @listing.body %>
<hr>
<div class="form-group">
    <div class="col-md-8 col-md-offset-4">
        <%= link_to "Back to Listing Page", listings_path, class: 'btn btn-success' %>
    </div>
</div>
